/* Reset + fundo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #dff3ff;
}

/* Aplicação opcional de fonte base */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo para fundo da calculadora */
.bg-calculadora {
    background-color: #e0edff;
}

/* Fundo da página geral */
.bg-externo {
    background-color: #dff3ff;
}